@charset "UTF-8";


body{
    min-height: 100%;
    background-color: #F2EBDF;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
   
}

header{
    background-color: #ea83693e;
}

h1{
    text-align: center;
    color:#70220efd;
    font-size:05em;
    font-weight:900;
    margin-bottom: 07px;
   
}

section{
    background:#ea8369f3;
    box-sizing: border-box;
    border-radius: 10px;
    padding:40px;
    margin: auto;
    width:70%;
    min-height:100px;
}

#coman{
    font-weight:700;
    font-size: x-large;
    color: #70220efd;
}

#dados{
    text-align: center;
}

#txti{
    border-radius: 10px;
    border: none;
    padding: 05px;
    font-weight: bolder;
}

#txtf{
    border-radius: 10px;
    border: none;
    padding: 05px;
    font-weight: bolder;
}

#txtp{
    border-radius: 10px;
    border: none;
    padding: 05px;
    font-weight: bolder;
}


#input:hover{
    background-color:#e4441cb5;
}

#input{
    border-radius: 10px;
    border: none;
    padding: 05px;
    font-weight: bolder;
}

#input:hover{
    background-color: #e4441cb5;
}


#input{
    border-radius: 10px;
    border: none;
    padding: 05px;
    font-weight: bolder;
}

#input:hover {
    background-color: #e4441cb5;
}
    
#res{
    margin-top:15px;
    font-size: x-large;
    font-weight: bolder;
    color:#70220efd;
    text-align: center;
}

#cont{
    border-radius: 10px;
    background-color: white;
    border: none;
    border-width: 10px;
    padding: 10px 15px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color:#70220efd;
}

#cont:hover{
    background-color:#e4441cb5 ;
}




